---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../../styles.css";
---

<BaseLayout
  title="404 - Page Not Found | Jakob Langtry"
  description="The page you requested could not be found."
>
  <div class="page-container">
    <div
      class="terminal"
      style="display:flex;align-items:center;justify-content:center;"
    >
      <div class="command-output info-text">404: Page not found</div>
    </div>
  </div>
</BaseLayout>
